@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

header,footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 60px;
}


.animation{
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plane-wrapper{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}
.plane-wrapper-2{
    position: absolute;
    top: 50%;
    right: -10%;
    z-index: 1;
}
.plane-wrapper-2 .paper-plane{
    transform: scaleY(-1);
}
.paper-plane{
    width: 150px;
    transition-duration: 0.4s;

}
.content-one{
    display: flex;
}
.content-one h2{
    font-size: 28px;
    line-height: 28px;
    margin-right: 8px;
}
.content-two{
    position: relative;
    z-index: 2;
}
.content-two h2{
    font-size: 58px;
    line-height: 58px;
    text-transform: uppercase;
    color: #ffffffa1;
    text-shadow: 0px 2px 10px #f292df59;
}
.scrolling_up img{
    transform-origin: center center;
    transform:  scaleX(-1) ;
    transition-duration: 0.4s;
}
.plane-wrapper-2.scrolling_up img{
    transform-origin: center center;
    transform:  scaleX(-1) scaleY(-1) ;
    transition-duration: 0.4s;
}

.animation-pun{
    /* background-image: linear-gradient(to bottom, #fbc2eb 20%, #a6c1ee 100%); */
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation-pun h2{
    font-size: 58px;
    line-height: 58px;
    text-transform: uppercase;
    color: #ffffffa1;
    z-index: 3;
    position: relative;
}



/* style for headin */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


.style1 {
background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 7.5vw;
font-family: "Source Sans Pro", sans-serif;
-webkit-animation: reveal 5000ms ease-in-out forwards 300ms, glow 2500ms linear infinite 2000ms;
        animation: reveal 5000ms ease-in-out forwards 300ms, glow 2500ms linear infinite 2000ms;
}
@-webkit-keyframes reveal {
80% {
  letter-spacing: 6px;
}
100% {
  background-size: 300% 300%;
}
}
@keyframes reveal {
80% {
  letter-spacing: 6px;
}
100% {
  background-size: 300% 300%;
}
}
@-webkit-keyframes glow {
40% {
  text-shadow: 0 0 8px #fff;
}
}
@keyframes glow {
40% {
  text-shadow: 0 0 8px #fff;
}
}